name: RType CI/CD

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
  pull_request:
    branches:
      - "main"

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt update && sudo apt install -y build-essential ninja-build

      # Pas d'installation de Ninja sur Windows

      - name: Configure CMake
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            cmake -S . -B build -G "Visual Studio 17 2022" -A x64
          else
            cmake -S . -B build -G Ninja
          fi
        shell: bash

      - name: Build project
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            cmake --build build --config Release
          else
            cmake --build build --config Release
          fi
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rtype_build_${{ matrix.os }}
          path: build/
