name: Doxygen API Documentation

on:
  push:
    branches: [ "main" ]

# Permissions required to deploy to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      - name: Install Doxygen and Graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y doxygen graphviz

      - name: Generate Documentation
        # Ensure Doxyfile is at the root or update the path here
        run: doxygen Doxyfile

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Path to your generated HTML files
          path: ./Document/doc_generated/html

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4